<% layout("/layouts/boilerplate") -%>
<div class="row">
    <div class="col-8 offset-2">   
        <h3>Create a New Listing</h3>
        <form action="/listings" method="post" class="needs-validation" novalidate >
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control"  name="listing[title]" placeholder="enter title" required> 
                <div class="valid-feedback">
                    Title Looks Good
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control" placeholder="enter description" required></textarea>
                <div class="invalid-feedback">
                    Please Enter a Short Description
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="text" class="form-control" name="listing[image]" placeholder="enter image URL/Link"> 
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" name="listing[price]" placeholder="12000" required> 
                    <div class="invalid-feedback">
                        Price Should be Valid
                    </div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" name="listing[country]" placeholder="India" required> 
                    <div class="invalid-feedback">
                        Country Should be Valid
                    </div>
                </div>
                </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" name="listing[location]" placeholder="Jalandhar,Jaipur" required> 
                <div class="invalid-feedback">
                    Location Should be Valid
                </div>
            </div>
            <button class="btn btn-dark add-btn">Add</button> <br><br>
        </form>
    </div>
</div>
